label {
  margin-right: .5em
}

html {
  font-family: 'Lato', sans-serif
}

body {
  background-color: papayawhip;
  color: palevioletred
}

.blogDiv {
  color: white;
  background-color: palevioletred;
  padding: .7em;
  border: 2px black;
  margin-top: 7px;
  border-radius: 7px;
}